#App {
    height: auto;
    min-height: 100vh;
}

.box-shadow-1 {
    box-shadow: $box-shadow1;
}
.box-shadow-2 {
    box-shadow: $box-shadow2;
}
.box-shadow-3 {
    box-shadow: $box-shadow3;
}
.box-shadow-4 {
    box-shadow: $box-shadow4;
}
.box-shadow-5 {
    box-shadow: $box-shadow5;
}