html {
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    overflow-x: hidden;
    //font-family: $montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //font-family: $montserrat;
}